.container {
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border-radius: 5px;
	padding: 40px;
	position: relative;
	width: 900px;
}
.text-start {
	padding-left: 50px;
}

.card-container {
	padding: 0;
	margin: 0;
}

html,
body > * {
	font: normal 400 18px / 20px 'Fira Sans', Helvetica, Arial, Verdana,
		sans-serif;
	word-spacing: normal;
	color: #373435;
}

.card-box {
	font-size: 1em;
}

.card-tabs {
	margin-right: 0;
	overflow: visible;
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 3;
	padding: 0;
	padding-left: 50px;
	font-size: 1em;
	margin-bottom: 15px;
}

.custom-tabs .nav-tabs {
	border-bottom: 2px solid #007bff;
	padding: 5px 20px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1px;
	margin-right: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

.custom-tabs .nav-item .nav-link {
	margin-right: 0;
	/* width: 118px; */
	height: 38px;
	padding:0 15px;
	overflow: visible;
	display: block;
	position: relative;
	z-index: 3;
	font-size: 1em;
	background-color: #e3e3e3;
	color: #666;
	border-radius: 0;
}

.custom-tabs .nav-item .nav-link.active {
	background-color: #007bff;
	color: white;
}

.custom-collapse .collapse.show {
	background-color: #f8f9fa;
	border: 1px solid #007bff;
}


.mt-4{
	display: block;
	justify-content:start;
	align-items: center;
	
}

.mt-4 .iconsGram {	
	width: 30px;
	height: 30px;
}

.mt-4 a {
	margin-left: 5px;
}
